@CHARSET "ISO-8859-1";

.login {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.add-on {
	color: #fff;
}

.navbar-inner {
	padding-right: 20px;
	padding-left: 20px;
	background: #444;
	filter: none;
	text-shadow: 1px 1px 1px #0a0c0e;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
}

.navbar-inner p {
	color: white;
	font-family: 'Oswald', sans-serif;
}

.custom-nav-text {
	color: white;
	font-family: 'Oswald', sans-serif;
}

.cursor {
	cursor: pointer;
}

#middle {
	
}

.tilt.right {
	transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
}

.tilt.left {
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}

body {
	min-width: 520px;
}

.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}

.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}

.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}

.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}

.portlet-content {
	padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.app{
	cursor: all-scroll;
}

.hidden{
	display: none;
}
.taskboard{
	background: darkcyan;
	min-height: 500px;
}

.tasklane{
	border-style: dashed;
    min-height: 70px;
    max-height: 600px;
    overflow-y: scroll;	
    border-width: thin;
}
.whitebackground{
	background: #fff;
	min-height:600px;
	margin-top:5px;
}
.whitebackgroundsignup{
	background: #fff;
	min-height:400px;
	margin-top:5px;
}


.graybackground{
	background : #E8E8E8;
}

body {
    background: -webkit-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px, -webkit-linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), -webkit-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background: -moz-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px, -moz-linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), -moz-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background: -o-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px, -o-linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), -o-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background: -ms-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px, -ms-linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), -ms-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background: linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px, linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color: #e1ebbd;

    -webkit-background-size: 128px 128px;
    -moz-background-size: 128px 128px;
    background-size: 128px 128px;
}

.pointer{
	cursor: pointer;
}

/* .a[ng-click]{
    cursor: pointer;
} */