@CHARSET "ISO-8859-1";

.login {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.add-on {
	color: #fff;
}

.navbar-inner {
	padding-right: 20px;
	padding-left: 20px;
	background: #444;
	filter: none;
	text-shadow: 1px 1px 1px #0a0c0e;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
}

.navbar-inner p {
	color:white;
	font-family: 'Oswald', sans-serif;
	
}

#middle{
	background: #f2f2f2;
	padding-bottom: 12%;
}



