<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>

	    <mapping class="com.group4.glimpse.model.User"/>       
	    <mapping class="com.group4.glimpse.model.Project"/>
	    <mapping class="com.group4.glimpse.model.Task"/>
	    <mapping class="com.group4.glimpse.model.Project_State"/>
	    <mapping class="com.group4.glimpse.model.Task_State"/>	    
		<mapping class="com.group4.glimpse.model.Invitations"/>	   
		<mapping class="com.group4.glimpse.model.EmailValidation"/>	   
	    
	</session-factory>
</hibernate-configuration>